* {
  font-family: 'Gloria Hallelujah', cursive;

}
/*1000 600 420*/

body {
  /*image source:https://i.pinimg.com/originals/2e/ea/37/2eea37576519d187dc87d0b4d9dc9253.jpg*/
   background-image: url("background.jpg");
 }

h1 {
  font-weight: bolder;
  text-shadow: 2px 1px black;
}

.name {
  text-align: center;
}

.refresh {
  color: #f2de13;
  background-color: #363738;
  border-radius: 30px;
  padding: 10px;
}

.stars {
  margin-bottom: 10px;
}

.timer {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 2px 2px #f8de13;
}

.moves {
  padding-bottom: 20px;
  font-size: 30px;
  display: block;
}

.main {
  border: 8px solid #f2de13;
  border-radius: 25px;
  box-shadow: 30px 30px 20px #888888;
  background-color: white;
}

img {
  padding-top: 15%;
  padding-bottom: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer {
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 30px 30px 20px #888888;
  border: 5px solid #f8de13;
  border-radius: 10px;
  background-color: #999999;
}
